{% extends 'pixkal2/base.html' %}
{% load static %}

{% block head %}
<script src="{% static 'pixkal2/js/recorder.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <style type='text/css'>
    ul { list-style: none; }
    li { margin: 1em; }
    audio { display: block; }
  </style>
{% endblock %}


{% block content %}

<div style="width: 100%; text-align:right;">
<a href="/sonido/eliminar/{{ recurso.id }}/{{ tipo }}/">Eliminar</a>
</div>

  <div style="width: 100%;">
  <h1>Agregar grabación</h1>
  <p>Antes de iniciar verifica que utilizar audifonos y micrófono o tienes el volúmen bajo</p>
  </div>

    <input type="hidden" id="monitorGain" type="number" value="0" />
    <input type="hidden" id="recordingGain" type="number" value="1" />
    <input type="hidden" id="numberOfChannels" type="number" value="1" />
    <input type="hidden" id="bitDepth" type="number" value="16" />


  <div style="width: 100%;">
    <button id="init" class="btn btn-success">Habilitar grabación</button>
  </div>

  <div style="width: 100%;">
  <h2>Controles de grabación</h2>
  <button id="start" class="btn btn-success" disabled>start</button>
  <button id="pause" class="btn btn-secondary" disabled>pause</button>
  <button id="resume" class="btn btn-success" disabled>resume</button>
  <button id="stopButton" class="btn btn-danger" disabled>stop</button>
  </div>

<div style="width: 100%;">
  <h2>Grabación</h2>
  <ul id="recordingslist"></ul>
</div>

<div style="width: 100%;">
  <h2>Registro</h2>
  <pre id="log"></pre>
</div>

  <script>

// Required for Django CSRF
function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

// Actual Upload function using xhr
function upload(blob, progressBar){
        var csrftoken = getCookie('csrftoken');

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/sonido/subir/{{ recurso.id }}/{{ tipo }}/', true); //Obviamente esto va a cambiar
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.setRequestHeader("MyCustomHeader", "Put anything you need in here, like an ID");

        xhr.upload.onloadend = function() {
            alert('¡Proceso exitoso!');
        };
        // If you want you can show the upload progress using a progress bar
        //var progressBar = document.querySelector('progress');
        xhr.upload.onprogress = function(e) {
            if (e.lengthComputable) {
                progressBar.value = (e.loaded / e.total) * 100;
                progressBar.textContent = progressBar.value; // Fallback for unsupported browsers.
            }
        };

        xhr.send(blob);
    }
    function screenLogger(text, data) {
      log.innerHTML += "\n" + text + " " + (data || '');
    }

    if (!Recorder.isRecordingSupported()) {
      screenLogger("Este navegador no tiene capacidades de grabación.");
    }

    else {
      init.addEventListener( "click", function(){
        init.disabled = true;
        start.disabled = false;
        monitorGain.disabled = true;
        recordingGain.disabled = true;
        numberOfChannels.disabled = true;
        bitDepth.disabled = true;

        var recorder = new Recorder({
          monitorGain: parseInt(monitorGain.value, 10),
          recordingGain: parseInt(recordingGain.value, 10),
          numberOfChannels: parseInt(numberOfChannels.value, 10),
          wavBitDepth: parseInt(bitDepth.value,10),
          encoderPath: "{% static 'pixkal2/js/waveWorker.min.js' %}"
        });

        pause.addEventListener( "click", function(){ recorder.pause(); });
        resume.addEventListener( "click", function(){ recorder.resume(); });
        stopButton.addEventListener( "click", function(){ recorder.stop(); });
        start.addEventListener( "click", function(){
          recorder.start().catch(function(e){
            screenLogger('Error encontrado:', e.message );
          });
        });

        recorder.onstart = function(){
          screenLogger('La grabación ha iniciado');
          start.disabled = resume.disabled = true;
          pause.disabled = stopButton.disabled = false;
        };

        recorder.onstop = function(){
          screenLogger('La grabación se ha detenido');
          start.disabled = false;
          pause.disabled = resume.disabled = stopButton.disabled = true;
        };

        recorder.onpause = function(){
          screenLogger('La grabación ha sido pausada');
          pause.disabled = start.disabled = true;
          resume.disabled = stopButton.disabled = false;
        };

        recorder.onresume = function(){
          screenLogger('Continuación de la grabación');
          start.disabled = resume.disabled = true;
          pause.disabled = stopButton.disabled = false;
        };

        recorder.onstreamerror = function(e){
          screenLogger('Error encontrado: ' + e.message );
        };

        recorder.ondataavailable = function( typedArray ){
          var dataBlob = new Blob( [typedArray], { type: 'audio/mp3' } );
          var fileName = new Date().toISOString() + ".mp3";
          var url = URL.createObjectURL( dataBlob );

          var audio = document.createElement('audio');
          audio.controls = true;
          audio.src = url;

          var link = document.createElement('a');
          link.href = url;
          link.download = fileName;
          link.innerHTML = link.download;

          // New Code starts here
            var progress = document.createElement('progress');
            progress.min = 0;
            progress.max = 100;
            progress.value = 0;
            var progressText = document.createTextNode("Progreso: ");

            var button = document.createElement('button');
            var t = document.createTextNode("Subir?");
            button.id = 'button';
            button.appendChild(t);
            button.onclick = function() {
                upload(dataBlob, progress);
            };

          var li = document.createElement('li');
          li.appendChild(link);
          li.appendChild(audio);
          li.appendChild(button);
          li.appendChild(progressText);
          li.appendChild(progress);

          recordingslist.appendChild(li);
        };
      });
    }



  </script>

{% endblock %}

