{% extends 'pixkal2/base.html' %}

{% load static %}

{% block head %}
<link href="{% static 'pixkal2/cards.css' %}" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if dashboard %}


 <div class="card-columns">
  {% for item in dashboard %}


  <div class="card">
  <div class="wrapper">

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      {% if item.imagen == "" %}
      <img src="{% static 'pixkal2/images/banner.jpg' %}" class="card-img" alt="...">
      {% else %}
      <img src="/media/{{ item.imagen }}/" class="card-img" alt="...">
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ item.titulo }}</h5>
        <p class="card-text">{{ item.descripcion }}</p>
        <p class="card-text"><small class="text-muted"><a href="/{{ item.url }}">Entrar</a></small></p>
      </div>
    </div>
  </div>
</div>

  </div>


</div>
{% endfor %}
 </div>

  {% if dashboard.has_other_pages %}
  <ul class="pagination">
    {% if dashboard.has_previous %}
      <li class="page-item"><a href="?page={{ dashboard.previous_page_number }}"  class="page-link">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span  class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in dashboard.paginator.page_range %}
      {% if dashboard.number == i %}
        <li class="active page-item"><span>{{ i }} <span class="sr-only"  class="page-link">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a href="?page={{ i }}"  class="page-link">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if dashboard.has_next %}
      <li class="page-item"><a href="?page={{ dashboard.next_page_number }}"  class="page-link">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span  class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% else %}
<img src="{% static 'pixkal2/images/not_found.png'%}" class="img-fluid" style="max-width: 100%; height: auto;"/>
{% endif %}


{% else %}
Acceso restringido
{% endif %}

<script>

$(document).ready(function($) {

	$('.card__share > a').on('click', function(e){
		e.preventDefault() // prevent default action - hash doesn't appear in url
   		$(this).parent().find( 'div' ).toggleClass( 'card__social--active' );
		$(this).toggleClass('share-expanded');
    });

});


</script>
{% endblock %}