{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pixkal</title>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.0/dist/aframe-extras.min.js"></script>
 </head>

  <!-- we import arjs version without NFT but with marker + location based support -->

  <body style="margin : 0px; overflow: hidden;">
    <a-scene embedded arjs>

    <a-marker preset="kanji">
      <a-entity
          position="0 0 0"
          scale="2 2 2"
          gltf-model="/static/pixkal2/gltf/{{ avatar.model_3DName }}" animation-mixer look-at="[camera]">
        </a-entity>

      </a-marker>

      <a-entity camera></a-entity>
    </a-scene>
  </body>
</html>