{% extends 'pixkal2/base.html' %}

{% load static %}

{% block head %}
<link href="{% static 'pixkal2/cards.css' %}" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if misbusquedas %}

  <h2>Mis búsquedas</h2>


<div class="card-columns">

  {% for mibusqueda in misbusquedas %}


    <div class="card">
  <div class="wrapper">

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    {% if mibusqueda.imagen == "" %}
    <img src="{% static 'pixkal2/images/banner.jpg' %}" alt="image" class="card-img">
    {% else %}
    <img src="/media/{{ mibusqueda.imagen }}" alt="image" class="card-img">
    {%endif%}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="/busqueda/{{mibusqueda.id}}/editar/">{{ mibusqueda.titulo_busqueda }}</a></h5>
        <p class="card-text">{{ mibusqueda.descripcion }}</p>
        <p class="card-text"> Creado: <time>{{ mibusqueda.creacion }}</time></p>
        <p class="card-text">Visitas: {{ mibusqueda.contador_visitas }}</p>
      </div>
    </div>
  </div>
</div>

  </div>

</div>


{% empty %}

<div class="backgroundimage"></div>

  {% endfor %}

</div>

    {% if misbusquedas.has_other_pages %}
    <ul class="pagination">
    {% if misbusquedas.has_previous %}
      <li class="page-item"><a href="?page={{ misbusquedas.previous_page_number }}"  class="page-link">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span  class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in misbusquedas.paginator.page_range %}
      {% if misbusquedas.number == i %}
        <li class="active page-item"><span  class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a href="?page={{ i }}"  class="page-link">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if misbusquedas.has_next %}
      <li class="page-item"><a href="?page={{ misbusquedas.next_page_number }}"  class="page-link">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% else %}
<img src="{% static 'pixkal2/images/not_found.png'%}" class="img-fluid" style="max-width: 100%; height: auto;"/>
{% endif %}

{% else %}
Acceso restringido
{% endif %}

<script>

$(document).ready(function($) {

	$('.card__share > a').on('click', function(e){
		e.preventDefault() // prevent default action - hash doesn't appear in url
   		$(this).parent().find( 'div' ).toggleClass( 'card__social--active' );
		$(this).toggleClass('share-expanded');
    });

});


</script>
{% endblock %}