{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pixkal</title>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.0/dist/aframe-extras.min.js"></script>
    <link rel="stylesheet" href="{% static 'pixkal2/bootstrap.min.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 </head>

  <!-- we import arjs version without NFT but with marker + location based support -->

  <body style="margin : 0px; overflow: hidden;">
    <div style='position: fixed; top: 10px; width:100%; text-align: right; z-index: 1;'>
    <a href="/clase/visualizar/{{ clase_id }}/{{ orden }}"role="button" class="btn btn-success" bottom: auto !important; top: 10px;>Siguiente</a>
    </div>

    <a-scene embedded arjs>

{% if elemento.tipo == 'I' %}
      <a-assets>
      <img id="wallpaper" src="/media/{{ elemento.item }}" />
      </a-assets>
{% elif elemento.tipo == 'V' %}
      <a-assets>
      <video id="wallpaper" autoplay loop="true" src="/media/{{ elemento.item }}"></video>
      </a-assets>
{% endif %}

{% if clase.bandera_marcador == 'M' %}
    <a-marker preset="kanji">
{% endif %}

{% if elemento.bandera_avatar == 1 %}

{% if elemento.tipo == 'A' %}

      <a-entity
          position="0 0 0"
          scale="0.5 0.5 0.5"
          gltf-model="/media/{{ elemento.item }}"
          {% if elemento.bandera_sonido == 1 %}     sound="src: url(/media/{{ elemento.sonido }}); autoplay: true" {% endif %}
          {% if clase.bandera_foco == 'F' %}     look-at="[camera]" {% endif %}
          >
        </a-entity>

{% elif elemento.tipo == 'V' %}

 <a-video src="/media/{{ elemento.item }}" rotation="-90 90 0"></a-video>

{% elif elemento.tipo == 'I' %}
      <a-image src="#wallpaper"></a-image>
{% endif %}

{% else %}
      <a-entity
          position="0 0 0"
          scale="0.5 0.5 0.5"
          gltf-model="/static/pixkal2/gltf/{{ elemento.avatar.model_3DName }}"
          {% if elemento.bandera_sonido == 1 %}     sound="src: url(/media/{{ elemento.sonido }}); autoplay: true" {% endif %}
          {% if clase.bandera_foco == 'F' %}     look-at="[camera]" {% endif %}
          >
        </a-entity>
{% endif %}

{% if clase.bandera_marcador == 'M' %}
</a-marker>
{% endif %}

      <a-entity camera></a-entity>
    </a-scene>

  </body>
</html>